
.Rhistory
.ipynb_checkpoints/1558161724393_problem1-checkpoint.ipynb
.ipynb_checkpoints/AI-Color-checkpoint.ipynb
.ipynb_checkpoints/AI-Dutch-checkpoint.ipynb
.ipynb_checkpoints/AI-Maize-checkpoint.ipynb
.ipynb_checkpoints/AI-laser-checkpoint.ipynb
.ipynb_checkpoints/Agilisium-checkpoint.ipynb
.ipynb_checkpoints/Balaji B.M-checkpoint.ipynb
.ipynb_checkpoints/Brass-DA-R-checkpoint.ipynb
.ipynb_checkpoints/CBE-MSME-checkpoint.ipynb
.ipynb_checkpoints/Copper-temp-checkpoint.ipynb
.ipynb_checkpoints/Ireland-AI-checkpoint.ipynb
.ipynb_checkpoints/Jyothi - python-checkpoint.ipynb
.ipynb_checkpoints/KLU-checkpoint.ipynb
.ipynb_checkpoints/MSME-AI-checkpoint.ipynb
.ipynb_checkpoints/MSME-Python&R-checkpoint.ipynb
.ipynb_checkpoints/MSME-Python_30-Aug-2019-checkpoint.ipynb
.ipynb_checkpoints/MSME_teachers_python_september-checkpoint.ipynb
.ipynb_checkpoints/Maize-DL-checkpoint.ipynb
.ipynb_checkpoints/Number swapping-checkpoint.ipynb
.ipynb_checkpoints/Poem generator-checkpoint.ipynb
.ipynb_checkpoints/SRM-checkpoint.ipynb
.ipynb_checkpoints/Saturday - DL-checkpoint.ipynb
.ipynb_checkpoints/Training-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/iceberg-AI-checkpoint.ipynb
.ipynb_checkpoints/online-sparkle-checkpoint.ipynb
.ipynb_checkpoints/webscrapping-checkpoint.ipynb
1558161724393_problem1.ipynb
Agilisium.db
Deep_Learning/.ipynb_checkpoints/
Deep_Learning/DL-Maize.model
Deep_Learning/__init__.py
Deep_Learning/__pycache__/
Deep_Learning/customLib.py
_0L0OI~C.CSV
_VFXBR~6.TXT
__pycache__/
housePrediction/__pycache__/
webscrapping.ipynb

*checkpoint.ipynb
!/.ipynb_checkpoints/Data science-python-checkpoint.ipynb
!/.ipynb_checkpoints/*
