<html>
  <title>Movie Review Sentiment Analysis</title>
  <body>
    <center>
      <h1>Greetings</h1>
 
      <form role="form" action="" method="POST" enctype=multipart/form-data>
        <label for="img">
          <strong>Review: </strong>
        </label>
        <input name="img" placeholder="Enter the review.." style="width:450px;height:30px;" autocomplete="off" required>
        <br>
        <br>
        <button type="submit" name="submit" vaue="sent" >Analyze</button>
      </form>
      <p style="font-size:30px;">{{name}} </p>
      <center>
  </body>
</html>