<html>
<title>Testing</title>
<body><center>
<h1>Greetings</h1>
    <p style="font-size:30px;">Your passport number is {{name}} </p>
<form role="form" action="" method="POST" enctype=multipart/form-data >
    <label for="img"><strong>Name: </strong></label>
	<input name="img" placeholder="Enter your name" style="width:450px;height:30px;" ><br><br>
	<button type="submit" name="submit" vaue="sent"  style="position:absolute;text-align: center;">Submit</button> 

</form>
<center>
</body>
</html>
